<launch>

    <include file="$(find mobile_manipulator_robot)/launch/manipulator.launch"/>

    <node pkg="map_server" name="map_server" type="map_server" args="$(find mobile_manipulator_robot)/map/simple_world.yaml"/>

    <include file="$(find mobile_manipulator_robot)/launch/manipulator_amcl.launch"/>-->

    <include file="$(find mobile_manipulator_robot)/launch/manipulator_move_base.launch"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mobile_manipulator_robot)/rviz/manipulator.rviz"/>

</launch>    